*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #1A2238;
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    color: #eaeaea;
    text-decoration: none;
}
